<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38793838906-125rmjjrn0ea077srfssiirfe9r4p928.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38793838906-125rmjjrn0ea077srfssiirfe9r4p928</string>
	<key>API_KEY</key>
	<string>AIzaSyAuWxf7CatGs6YXAP_bB2m1VMS9kG6zzHI</string>
	<key>GCM_SENDER_ID</key>
	<string>38793838906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rocketHelp</string>
	<key>PROJECT_ID</key>
	<string>rocket-helper-b85e8</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-helper-b85e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38793838906:ios:2dcb31335330fb19315003</string>
</dict>
</plist>